a {
    color: whitesmoke;
    padding:5px;
}


body {
    margin-top: 20px;
    font-family: "Monaco", monospace;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#backgroundImage{
    position: absolute;
    height: auto;
    z-index: -1;
    margin-top: -90px;
}

h3{
    border:solid salmon;
    text-align: center;
    vertical-align: center;
    padding: 10px;
    font-family: "Papyrus";
    font-size: 40px;
}

#title_bar{
    display:flex;
    height: 150px;
    padding:10px;
    align-items: center;
    margin-top: 10px;
}

.navLinks{
    display:flex;
    justify-content: space-around;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border: solid;
    border-color: #136174;
    border-radius: 50%;
    margin-right: 20px;

}

.rounded{
    height:110%;
    width: auto;
    position: absolute;
    margin-left: -5px;
}



/* Page Specific */

#picDisplay{

    display: grid;
    width: 1000px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin-left: 2%;
    margin-right: 5%;
    padding-left: 5%;
    overflow: hidden;
}


.gallery{
    height: 200px;
    width: auto;
    overflow: hidden;
    border-radius: 15px;
    border:solid #136174;
    border-width: 5px;
    align-self: center;
    justify-self: center;
    margin-left: 10%;
}

figure{
    justify-self: center;
    justify-content: center;
}